.buttonComponent {
  color: var(--primary-color-white);
  padding: 20px 40px;
  border-radius: 1dvb;
  border: none;
  background-color: var(--primary-color-blue);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  animation: pulseAnimation 2s infinite;
  margin: auto;
}

.buttonComponent:hover {
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: bounceAnimation 0.6s ease;
  /* border: 1px solid #f17f56; */
}
.buttonComponent h1{
  font-size: 15px !important;
  margin: 0px 0px !important;
}
/* Keyframes for pulsing effect */
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Keyframes for bouncing effect */
@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media all and (max-width: 410px) {
  .buttonComponent {
    padding: 20px 20px;
    font-size: 14px;
  }
}