
.page_404 {
    padding: 40px 0;
    width: 95%;
    background: #fff;
    align-items: center;
    margin: auto;
    margin-top: 150px;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 95%;
  }
  
  .four_zero_four_bg h1 {
    font-size: 80px;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: var(--primary-color-golden);
    margin: 20px 0;
    display: inline-block;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

  .link_404:hover {
    background: var(--primary-color-black);
  }
  
  .contant_box_404 {
    margin-top: -50px;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  